@charset "UTF-8";
/* variables*/
* {
  padding: 0px;
  margin: 0px;
}

nav {
  font-size: 24px;
}

/* tipografias */
h1 {
  font-size: 44px;
}

h2 {
  font-size: 32px;
}

.Titulos {
  text-align: center;
  margin-bottom: 10px;
}

.subtitulo {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 22px;
}

span.label {
  font-weight: bold;
  font-size: 20px;
}

span {
  font-size: 24px;
}

/* menu */
.logo {
  width: 125px;
  height: auto;
}

.menu {
  display: flex;
  text-align: center;
  background-color: blanchedalmond;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
}

.items-menu ul {
  display: flex;
  list-style: none;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}

.items-menu li {
  margin: 0 15px;
}

.menu a {
  font-size: 26px;
  text-decoration: none;
  color: black;
  padding: 10 15px;
  display: block;
}

.menu a:hover {
  color: blue;
}

.menu-toggle {
  display: none;
}

.hamburguesa {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .hamburguesa {
    display: block;
  }
}
.items-menu {
  display: none;
  flex-direction: column;
  background-color: aquamarine;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-toggle:checked + .hamburguesa + .items-menu {
  display: flex;
}

.items-menu ul {
  flex-direction: column;
  padding: 10px 0;
}

.items-menu li {
  margin: 10px 0;
}

.menu a {
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .items-menu {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: transparent;
    width: auto;
  }
  .items-menu ul {
    flex-direction: row;
  }
  .items-menu li {
    margin: 0 15px;
  }
  .hamburguesa {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
}
/* boton */
.boton {
  background-color: blue;
  color: antiquewhite;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.boton:hover {
  box-shadow: 0 0 10px 5px blueviolet;
}

.boton:active {
  background-color: rgb(3, 3, 145);
}

/* seccion 1 intro */
.contenedor-intro {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.textos {
  max-width: 50%;
  flex: 1;
  text-align: left;
}

.textos h1 {
  margin-bottom: 15px;
}

.textos p {
  margin-bottom: 30px;
  text-align: left;
}

.imagen-principal {
  max-width: 50%;
  flex: 1;
}

.imagen-principal img {
  width: 100%;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .contenedor-intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .textos {
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .textos p {
    text-align: center;
  }
  .imagen-principal {
    max-width: 100%;
  }
  .imagen-principal img {
    max-height: none;
  }
}
/* Destinos populares */
.destacados {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 40vh;
}

.selector-destino {
  align-items: center;
  text-align: center;
  color: #979696;
  cursor: pointer;
  transition: color 0.3s;
}

.selector-destino:hover {
  color: blueviolet;
}

input[type=radio]:checked + label.selector-destino {
  color: blue;
}

input[type=radio] {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
}

.biomas {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#playa:checked ~ .cards-playa,
#ciudad:checked ~ .cards-ciudad,
#montaña:checked ~ .cards-montaña,
#aventura:checked ~ .cards-naturales,
#historico:checked ~ .cards-historico {
  opacity: 100;
  transition: opacity 0.8s ease;
  z-index: 100;
  position: static;
}

.radio-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion h2 {
  margin-bottom: 20px;
}

.destino-card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  flex-grow: 1;
}

.destino-card h3 {
  margin-bottom: 8px;
}

.destino-card p {
  margin-bottom: 15px;
}

.destino-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .destinos-contenedor {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .biomas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 5px;
    text-align: center;
  }
}
/* amenities */
.amenities {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contenedor-amenities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  padding: 10px;
  justify-items: center;
}

.amenitie {
  color: #333;
  text-align: center;
}

.amenitie i {
  font-size: 32px;
  margin-bottom: 5px;
  display: block;
}

/* contacto */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.contacto {
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 70%;
  margin: auto;
  box-sizing: border-box;
}

.fila {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.columna {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
}

input:focus, textarea:focus {
  border-color: blue;
}

.form .boton {
  width: auto;
  padding: 10px 20px;
}

/* footer */
footer {
  background-color: black;
  color: antiquewhite;
}

/* detalle hotel */
.titular {
  background-color: rgb(214, 214, 214);
  padding-top: 10px;
  padding-bottom: 10px;
}

.contenedor-info {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding: 20px;
}

.slider-hotel {
  width: 60%;
  padding-right: 25px;
}

.slider-hotel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.info-hotel {
  width: 100%;
  padding-left: 25px;
}

/* facturacion */
.contenedor-info-reserva {
  display: flex;
  gap: 5px;
  align-items: stretch;
  padding: 20px;
  height: auto;
  border: solid 1px black;
}

.info-hotel-reserva {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datos-hotel-reserva {
  margin-top: 20px;
}

.nombre-habitacion p {
  font-size: 35px;
}

.nombre-habitacion {
  display: flex;
  justify-content: space-between;
}

.datos-reserva {
  margin-bottom: 20px;
}

.cant-noches {
  display: flex;
  justify-content: space-between;
}

.cant-huespedes {
  display: flex;
  justify-content: space-between;
}

.politicas h2 {
  text-align: center;
  padding-bottom: 20px;
}

.politicas {
  padding-left: 20px;
  padding-right: 20px;
}

.cancelacion-reembolsos {
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkin-checkout {
  padding-bottom: 20px;
}

.convivencia {
  padding-bottom: 20px;
}

.facturacion {
  padding-top: 20px;
}

.contenedor-terminos {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.contenedor-terminos label {
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.contenedor-terminos input {
  margin: 0;
  padding: 0;
  width: 16px;
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
  max-width: 30%;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  display: flex;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 300px;
  height: 100%;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

@media screen and (max-width: 768px) {
  .contenedor-info-reserva {
    flex-direction: column;
  }
  .carousel {
    max-width: 100%;
  }
  .carousel-item {
    max-width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
